<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')%>
    <title>Document</title>
</head>
<body class="p-4">
    <%if(locals.blog){%>
        <h1 class="text-7xl text-center m-8 uppercase font-serif text-blue-900"><%=blog.title%></h1>
        <img src="<%=blog.coverImage%>" alt="" class="w-[95%] mx-auto rounded-md shadow-md m-4">
        <p class="text-lg text-center m-2 w-[95%] mx-auto"><%=blog.body%></p>
    <%}%>

    <h1 class="text-left text-sm w-[95%] mx-auto m-4"><pre class="uppercase text-lg font-serif">AUTHOR:</pre><%=blog.createdBy.fullName%></h1>

     <div class="m-2  w-[95%] mx-auto h-[3rem] border rounded-3xl shadow-lg">
        <form action="/blog/comment/<%=blog._id%>" method="post" class="w-full h-full flex justify-center items-center rounded-3xl">
            <input type="text" name="content" id="" placeholder="enter your comment" required class="w-[80%] mx-auto h-full text-center text-xs rounded-3xl">
            <button type="submit" class="w-[20%] font-bold text-lg hover:text-2xl h-full hover:text-red-600">submit</button>
        </form>
    </div>

        <%if(locals.comments){%>
            <div class="p-1 m-1 w-[95%] mx-auto flex flex-col">
                <%for(let i=0;i<comments.length;i++){%>
                <div class="w-full m-1">
                    <h1 class="w-full text-sm"><%=comments[i].content%></h1>
                </div>    
                <%}%>
            </div>
        <%}%>

    


</body>
</html>